body {
  background: #2C3E50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#formulario {
  margin: 0 auto;
  max-width: 90%;
}

.card-flex {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
}

.p-flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* @media (min-width: 768px) { 
  /* .card-flex {
    display: flex;
    align-items: center;    
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

.p-flex {
  display: flex;
  align-items: center;
  gap: 8px;
}
}*/

.container {
  display: grid;
}

@media (min-width: 460px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}

.bg-white {
  border-radius: 8px;
}

/* mx-auto mt-10 flex flex-wrap */